.titulo{
    color: rgb(0, 0, 0);
    text-align: center; 
    
    font-size: 29px;
    font-family: Arial, Helvetica, sans-serif;  
}

.contenido{
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify ;
}

.card{
    background-color: #ffffff9d;
}

.subtitulo{
    text-align: center;
}